
/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* main code */

/* inizio header */
header{
    text-align: center;
    padding: 2rem 0;
}

header h1{
    padding: 15px;
    font-size: 2.5rem;
}

header input{
    padding: 7px;
    width: 300px;
    height: 40px;
    margin: 0px 7px 5px 0;
    border-radius: 5px;
}

header button{
    padding: 7px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

.error-message{
    color: red;
}
/* fine header */


/* inizio main */
main .container-list{
    max-width: 970px;
    margin: auto;
    padding: 2rem;
    background-color: #ededed;
    border-radius: 5px;
}

.container-list li{
    list-style-type: none;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.container-list span{
    flex-grow: 1;
    padding: 10px 0;
}

.container-list i{
    font-size: 25px;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    cursor: pointer;
}

.barred{
    text-decoration: line-through;
}

.empty-title{
    color: grey;
    text-align: center;
}

.empty-title h1{
    font-size: 2.5rem;
}
/* fine main */